<mat-toolbar color="primary" class="navbar">
    <div class="nav-title">Garage Sale</div>
    <div>
        <span>
            <a href="/home">
                Home
            </a>
        </span>
        <span>
            <a href="">About</a>
        </span>
        <span>
            <a href="">Services</a>
        </span>
        <span>
            <a href="">Login</a>
        </span>
        <span>
            <a href="">Register</a>
        </span>
        <span>
            <a href="">Logout</a>
        </span>
        <span>
            <a href="">My Profile</a>
        </span>
        <span>
            <a href="/create">Create Offer</a>
        </span>
    </div>
</mat-toolbar>