<div *ngFor="let number of numbers" class="item-box">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Angle Grinder</mat-card-title>
            <mat-card-subtitle>Brand: Makita</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://suneuropa.com/5881-large_default/angle-grinder-makita-ga5030r-230-v-720-w-dia-125-mm.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Angle grinder / Makita GA5030R /, 230 V, 720 W, dia. 125 mm Lightweight and compact High quality 720 W motor, with high temperature resistance Sturdy and reliable gear Anti restart protection in case of power failure Soft start function Technical data:
                ​Power: 720 W Idle revolutions: 11000 rpm Spindle size: М14 Inner hole diameter: 22.23 mm Disk diameter: 125 mm Dimensions: (L x H x W): 266x138x103 mm Weight: 1.800 kg
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>OFFER A PRICE</button>
            <span >120 $</span>
            <button mat-button>BUY</button>
        </mat-card-actions>
    </mat-card>
</div>